@charset "utf-8";

* { margin: 0px; padding: 0px; }

#app { width: 100%; height: 100%; }

@font-face { font-family: MyFont; src: url("../fonts/font1.ada6f284.TTF") format("truetype"); font-weight: 400; font-style: normal; }

@font-face { font-family: MyFontXi; src: url("../fonts/font9.504abdda.TTF") format("truetype"); font-weight: 400; font-style: normal; }